# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [1]:
import sqlite3
def create_dataase():
    conn=sqlite3.connect('test3.db')
    conn.commit()
    conn.close()
    print("created succesfulyt")
create_dataase()

created succesfulyt

In [2]:
def create_table1():
    conn=sqlite3.connect('test3.db')
    cursor=conn.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS employe1(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    dept TEXT
    )
''')

    conn.commit()
    conn.close()
    print("Table 'employees' created successfully.")

# Test the function
create_table1()

Table 'employees' created successfully.

In [3]:
def insertin(name,id,age,department):
    conn=sqlite3.connect('test3.db')
    cursor=conn.cursor()
    cursor.execute('''
        INSERT INTO employe1 (id, name, age, dept)
        VALUES (?, ?, ?, ?)
    ''', (id, name, age, department))
    conn.commit()
    conn.close()
    print("Employee inserted successfully.")
insertin("alice",15,34,"Aiml")

Employee inserted successfully.

In [4]:
def fetch_all_employees():
    conn = sqlite3.connect('test3.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employe1')
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Test the function
fetch_all_employees()

(15, 'alice', 34, 'Aiml')

In [5]:
def fetch_employees_by_department(department):
    conn = sqlite3.connect('test3.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employe1 WHERE dept= ?', (department,))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Test the function
fetch_employees_by_department('aids')

In [8]:
def update_employee_department(employee_id, new_department):
    conn = sqlite3.connect('test3.db')
    cursor = conn.cursor()
    cursor.execute('''
        UPDATE employe1
        SET dept = ?
        WHERE id = ?
    ''', (new_department, employee_id))
    conn.commit()
    conn.close()
    print("Employee department updated successfully.")

# Test the function
update_employee_department(15, 'Finance')

Employee department updated successfully.

In [10]:
update_employee_department(2, 'Research')
update_employee_department(3, 'Customer Support')

# Fetch and display all records
fetch_all_employees()

Employee department updated successfully.
Employee department updated successfully.
(15, 'alice', 34, 'Finance')

In [12]:
def dels(emp_id):
    conn=sqlite3.connect('test3.db')
    cursor=conn.cursor()
    cursor.execute('''
    DELETE FROM employe1
    where id=?
''',(emp_id,))
    conn.commit()
    conn.close()
    print("employess are ddd")
dels(2)

employess are ddd

In [13]:
fetch_all_employees()

(15, 'alice', 34, 'Finance')

In [25]:
def fetch_emp(age2):
    conn=sqlite3.connect('test3.db')
    cursor=conn.cursor()
    cursor.execute('SELECT * FROM employe1 WHERE age < ?',(age2,))
    records=cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Test the function
fetch_emp(10)

In [35]:
def fetchname(letter):
    conn=sqlite3.connect('test3.db')
    cursor=conn.cursor()
    cursor.execute('SELECT * FROM employe1 WHERE name LIKE ?', (letter+'%',))
    records=cursor.fetchall()
    conn.close()
    for rows in records:
        print(rows)

fetchname('a')

(15, 'alice', 34, 'Finance')

In [40]:
def insert_multiple_employees(employees):
    conn = sqlite3.connect('test3.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            INSERT INTO employe1 (id, name, age, dept)
            VALUES (?, ?, ?, ?)
        ''', employees)
        conn.commit()
        print("All employees inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function with valid and invalid data
employees = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
    (6, 'Jack', 45, 'HR')  # Duplicate ID to cause an error
]
insert_multiple_employees(employees)

Error occurred, transaction rolled back.
UNIQUE constraint failed: employe1.id

In [41]:
fetch_all_employees()

(15, 'alice', 34, 'Finance')

In [42]:
def update_multiple_employees_ages(updates):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            UPDATE employees
            SET age = ?
            WHERE id = ?
        ''', updates)
        conn.commit()
        print("All employee ages updated successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function with valid and invalid data
updates = [
    (32, 1),
    (26, 2),
    (33, 3),
    (41, 4),  # Non-existing ID to cause an error
    (23, 5)
]
update_multiple_employees_ages(updates)

Error occurred, transaction rolled back.
no such table: employees

In [43]:
def create_departments_table():
    conn = sqlite3.connect('test3.db')
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS departments (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL
        )
    ''')
    conn.commit()
    conn.close()
    print("Table 'departments' created successfully.")

# Test the function
create_departments_table()

Table 'departments' created successfully.

In [1]:
import sqlite3

def add_department_foreign_key():
    conn = sqlite3.connect('test3.db')
    cursor = conn.cursor()
    
    cursor.executescript('''
        PRAGMA foreign_keys=off;

        BEGIN TRANSACTION;

        ALTER TABLE employe1 RENAME TO old_employees;

        CREATE TABLE employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            dept TEXT,
            department_id INTEGER,
            FOREIGN KEY(department_id) REFERENCES departments(id)
        );

        INSERT INTO employees (id, name, age, dept)
        SELECT id, name, age, dept FROM old_employees;

        DROP TABLE old_employees;

        COMMIT;

        PRAGMA foreign_keys=on;
    ''')
    
    conn.commit()
    conn.close()
    print("✅ Table 'employees' modified successfully.")

# Test
add_department_foreign_key()

✅ Table 'employees' modified successfully.

In [2]:
import time
def fetch_employees_name_starts_with_performance(letter):
    conn = sqlite3.connect('test3.db')
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    end_time = time.time()
    conn.close()
    print("Time taken: {} seconds".format(end_time - start_time))
    for record in records:
        print(record)

# Test the function with the index
fetch_employees_name_starts_with_performance('A')

Time taken: 0.0063288211822509766 seconds
(15, 'alice', 34, 'Finance', None)

In [4]:
import shutil
def backup_database():
    shutil.copy('test3.db', 'backup.db')
    print("Database backed up successfully.")

# Test the function
backup_database()

Database backed up successfully.

In [5]:
def restore_database():
    shutil.copy('backup.db', 'test3.db')
    print("Database restored successfully.")

# Test the function
restore_database()

Database restored successfully.