# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [4]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randint(1,100,size=(6,4)),columns=['A','B','C','D'])
print("og")
df.set_index('A',inplace=True)
print("DataFrame with new index:")
print(df)

og
DataFrame with new index:
     B   C   D
A
51  65  42  37
16  39   9  51
77  64  82  76
52  93  15  62
13  59  28  47
14  94  17  23

In [9]:
df=pd.DataFrame(np.random.randint(1,100,size=(3,3)),columns=['A','B','C'],index=['X','Y','Z'])
print(df)

ele=df.at['Y','B']
print(ele)

    A   B   C
X  84  75  51
Y  30  35  52
Z  32  53  95
35

In [10]:
df=pd.DataFrame(np.random.randint(1,30,size=(3,3)),columns=['A','B','C'])
print(df)

df['D']=3
print(df)

    A   B   C
0   7  16   2
1  17   3   5
2  28  29  18
    A   B   C  D
0   7  16   2  3
1  17   3   5  3
2  28  29  18  3

In [11]:
df=pd.DataFrame(np.random.randint(1,50,size=(4,3)),columns=['A','B','C'])
print(df)

row_sum=df.sum(axis=1)
col_sum=df.sum(axis=0)

print(row_sum)
print(col_sum)

    A   B   C
0  18   7  37
1  35  13  38
2  37  11  29
3  29  27  29
0    62
1    86
2    77
3    85
dtype: int64
A    119
B     58
C    133
dtype: int64

In [12]:
df=pd.DataFrame(np.random.randint(1,50,size=(5,3)),columns=['A','B','C'])
print(df)

df.iloc[0,1]=np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

df.fillna(df.mean(),inplace=True)
print(df)

    A   B   C
0  47  46  21
1  48  10  17
2  33  24  28
3  13  32  45
4  43   2  11
DataFrame with NaN values:
      A     B     C
0  47.0   NaN  21.0
1  48.0  10.0  17.0
2  33.0  24.0   NaN
3  13.0  32.0  45.0
4   NaN   2.0  11.0
       A     B     C
0  47.00  17.0  21.0
1  48.00  10.0  17.0
2  33.00  24.0  23.5
3  13.00  32.0  45.0
4  35.25   2.0  11.0

In [14]:
df=pd.DataFrame(np.random.randint(1,100,size=(6,4)),columns=['A','B','C','D'])
print(df)
df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[5, 1] = np.nan
print("DataFrame with NaN values:")
print(df)

# Drop the rows with any NaN values
df.dropna(inplace=True)
print("DataFrame with NaN values dropped:")
print(df)

    A   B   C   D
0  29  64  94   4
1  78  71  15  59
2  12  70  46  11
3   2  93  17  11
4   8  34  13  69
5  49  89  75  82
DataFrame with NaN values:
      A     B     C   D
0  29.0  64.0  94.0   4
1  78.0  71.0   NaN  59
2  12.0  70.0  46.0  11
3   NaN  93.0  17.0  11
4   8.0  34.0  13.0  69
5  49.0   NaN  75.0  82
DataFrame with NaN values dropped:
      A     B     C   D
0  29.0  64.0  94.0   4
2  12.0  70.0  46.0  11
4   8.0  34.0  13.0  69

In [15]:
df=pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
grouped=df.groupby('Category')['Value'].agg(['sum','mean'])
print(df)

  Category  Value
0        C     91
1        C     91
2        B     44
3        C     48
4        A     51
5        A     29
6        B     64
7        C     64
8        A     55
9        B     33

In [19]:
df=pd.DataFrame({'product':np.random.choice(['prod1','prod2','prod3'],size=10),'Category':np.random.choice(['A','B','C'],size=10),'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

grouped=df.groupby('Category')['Sales'].sum()
print(grouped)

Original DataFrame:
  product Category  Sales
0   prod1        C     94
1   prod2        B     74
2   prod3        B     92
3   prod2        A     34
4   prod1        B     25
5   prod1        A     59
6   prod3        B     66
7   prod3        A     27
8   prod2        A     19
9   prod1        A     93
Category
A    232
B    257
C     94
Name: Sales, dtype: int32

In [37]:
# Create two Pandas DataFrames with a common column
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

merged=pd.merge(df1,df2,on='Key')
print(merged)

DataFrame 1:
  Key  Value1
0   A      35
1   B      66
2   C      97
3   D      29
DataFrame 2:
  Key  Value2
0   A      27
1   B      30
2   C       3
3   E      51
  Key  Value1  Value2
0   A      35      27
1   B      66      30
2   C      97       3

In [21]:
# Create two Pandas DataFrames with different columns
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  25  22
1  78  77
2  83  59
DataFrame 2:
    C   D
0  83  95
1  16  52
2  99  55
Concatenated DataFrame (rows):
      A     B     C     D
0  25.0  22.0   NaN   NaN
1  78.0  77.0   NaN   NaN
2  83.0  59.0   NaN   NaN
0   NaN   NaN  83.0  95.0
1   NaN   NaN  16.0  52.0
2   NaN   NaN  99.0  55.0
Concatenated DataFrame (columns):
    A   B   C   D
0  25  22  83  95
1  78  77  16  52
2  83  59  99  55

In [27]:
date_rng=pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df=pd.DataFrame(date_rng,columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date',inplace=True)
print(df)

monthly_mean=df.resample('ME').mean()
print(monthly_mean)

            data
date
2021-01-01    53
2021-01-02    82
2021-01-03     4
2021-01-04    70
2021-01-05    85
...          ...
2021-12-27    84
2021-12-28    40
2021-12-29    13
2021-12-30    59
2021-12-31    42

[365 rows x 1 columns]
                 data
date
2021-01-31  43.129032
2021-02-28  57.357143
2021-03-31  56.290323
2021-04-30  59.000000
2021-05-31  55.387097
2021-06-30  49.600000
2021-07-31  55.290323
2021-08-31  55.225806
2021-09-30  37.066667
2021-10-31  53.064516
2021-11-30  40.533333
2021-12-31  44.806452

In [28]:
date_rng=pd.date_range(start='2021-01-01',end='2021-12-31',freq='D')
df=pd.DataFrame(date_rng,columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

rolling_mean=df.rolling(window=7).mean()

print(rolling_mean)

Original DataFrame:
            data
date
2021-01-01    55
2021-01-02    36
2021-01-03    51
2021-01-04    29
2021-01-05    99
...          ...
2021-12-27    71
2021-12-28    21
2021-12-29    26
2021-12-30    67
2021-12-31    17

[365 rows x 1 columns]
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  64.142857
2021-12-28  57.857143
2021-12-29  57.285714
2021-12-30  55.285714
2021-12-31  44.142857

[365 rows x 1 columns]

In [29]:
# Create a Pandas DataFrame with a MultiIndex (hierarchical index)
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              93      87      65
         two              22       4      18
B        one              81      85      12
         two               2      57      27
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              93      87      65
two              22       4      18
Slicing at Category 'B' and SubCategory 'two':
Value1     2
Value2    57
Value3    27
Name: (B, two), dtype: int32

In [42]:
# Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'
arrays = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Compute the sum of values for each 'Category' and 'SubCategory'
sum_values = df.groupby(['Category', 'SubCategory']).sum()
print("Sum of values:")
print(sum_values)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              19      43      44
         two              35      44      88
B        one              61       3      26
         two              43      62      52
C        one              51       5      80
         two              11      99      21
Sum of values:
                      Value1  Value2  Value3
Category SubCategory
A        one              19      43      44
         two              35      44      88
B        one              61       3      26
         two              43      62      52
C        one              51       5      80
         two              11      99      21

In [44]:
data_rng=pd.date_range(start='2021-01-01',end="2021-12-31",freq='D')
df=pd.DataFrame({'Date':np.random.choice(data_rng,size=20),'Category':np.random.choice(['A','B','C'],size=20),'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")


pivot_table=df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print(pivot_table)

Original DataFrame:
Category       A     B     C
Date
2021-01-04   NaN  72.0   NaN
2021-01-13  11.0   NaN   NaN
2021-02-08   NaN   NaN  65.0
2021-03-10   NaN  60.0   NaN
2021-04-03   NaN  53.0   NaN
2021-04-26   NaN   NaN  89.0
2021-05-11   NaN  53.0   NaN
2021-05-16   NaN   NaN  85.0
2021-05-22  14.0   NaN   NaN
2021-06-05   NaN   NaN  96.0
2021-06-09   NaN  32.0   NaN
2021-06-29   NaN   NaN  31.0
2021-08-06   NaN  12.0   NaN
2021-09-02  78.0   NaN   NaN
2021-09-06   NaN   NaN  68.0
2021-09-22   NaN  87.0   NaN
2021-10-03   NaN   NaN  52.0
2021-10-08   NaN  62.0   NaN
2021-11-27   NaN   NaN  95.0
2021-12-27  17.0   NaN   NaN

In [45]:
df=pd.DataFrame({'Year':np.random.choice(['2020','2021','2022'],size=12),'Quarter':np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12),'Revenue': np.random.randint(1, 1000, size=12)})
print(df)
pivot_t=df.pivot_table(values='Revenue',index='Year',columns='Quarter',aggfunc='mean')
print(pivot_t)

    Year Quarter  Revenue
0   2022      Q4      814
1   2021      Q3      354
2   2020      Q2      720
3   2022      Q1      670
4   2020      Q2      719
5   2020      Q2      323
6   2020      Q3      933
7   2022      Q3      409
8   2020      Q1      555
9   2020      Q1      941
10  2020      Q2      737
11  2021      Q3      382
Quarter     Q1      Q2     Q3     Q4
Year
2020     748.0  624.75  933.0    NaN
2021       NaN     NaN  368.0    NaN
2022     670.0     NaN  409.0  814.0

In [47]:
df=pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['a','b','c'])
print(df)
df_doubled=df.applymap(lambda x:x*2)
print(df_doubled)

    a   b   c
0  59  27  85
1  98  91  87
2   3  56  11
3  66  54  44
4   7  55  27
     a    b    c
0  118   54  170
1  196  182  174
2    6  112   22
3  132  108   88
4   14  110   54

C:\Users\surya\AppData\Local\Temp\ipykernel_4040\2772812633.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_doubled=df.applymap(lambda x:x*2)

In [48]:
df=pd.DataFrame(np.random.randint(1,100,size=(6,3)),columns=['A','B','C'])
print(df)
df['new']=df.apply(lambda x:x.sum(),axis=1)
print(df)

    A   B   C
0  94  89  60
1  71  72  28
2  23  53  15
3  27  70  29
4  92  77  96
5  70  92  40
    A   B   C  new
0  94  89  60  243
1  71  72  28  171
2  23  53  15   91
3  27  70  29  126
4  92  77  96  265
5  70  92  40  202

In [49]:
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Convert all the strings to uppercase
uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
Uppercase Series:
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

In [50]:
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Convert all the strings to uppercase
uppercase_data = text_data.str[:3]
print("three")
print(uppercase_data)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
three
0    app
1    ban
2    che
3    dat
4    eld
dtype: object